.Header {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}
h1 {
  font-weight: 800;
  font-size: 48px;
}
p {
  font-weight: 600;
  font-size: 16px;
  color: #5a5959;
}

/* Responsive css for mobile */
@media only screen and (max-width: 768px) {
  .Header {
    max-width: 90vw;
    margin: 0px auto;
  }

  h1 {
    font-size: 34px;
  }
  p {
    font-size: 12px;
  }
}
/* Responsive for Tablet  */
@media only screen and (max-width: 1120px) {
  h1 {
    font-weight: 800;
    font-size: 40px;
  }
}
