@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.main-container {
  height: calc(100vh - 72px);
}

/* rsss tab  */

@media (max-width: 1280px) {
  .main-container {
    max-width: 93vw;
  }
}

@media (max-width: 1280px) and (min-width: 700px) {
  .left h1 {
    line-height: 65px;
    font-size: 62px;
  }
  .left p {
    width: 79%;
  }
  .brand-shoe {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .main-container {
    flex-direction: column-reverse;
    height: auto;
  }
  .left {
    gap: 1.25rem;
  }
  .left h1 {
    line-height: 40px;
    font-size: 40px;
  }
  .left p {
    width: 73%;
  }
  .brand-shoe {
    width: 80%;
  }
  .AvailableOn {
    gap: 0.3rem;
  }
}
