@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .myContainer {
    @apply mx-auto max-w-[368px] bg-black px-4 py-2;
  }
}
body {
  background-color: #5a5959;
}

/* Hide scroll bar  */
.contact-container::-webkit-scrollbar {
  display: none;
}
.contact-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.contact-container {
  scrollbar-width: none;
}

/* Hide cancl btn */
/* Hide the default clear button in search inputs */
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Hide default from number */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinners for Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
