nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.logo img {
  height: 75px;
  width: 100px;
}

ul {
  display: flex;
  gap: 24px;
}

a {
  all: unset;
  color: black;
}
ul a li {
  list-style: none;
}

/* Responsive css for mobile */
@media only screen and (max-width: 1120px) {
  nav {
    width: 100vw;
    justify-content: space-around;
  }
}
